package main

//============
// NLP接口
//============

// 地址标准化
const GeoExtractPublicKey = ""
const GeoExtractSecretKey = ""

// 文档抽取-合同 or 文档抽取-简历 or 文档抽取-红头文件 or 文档抽取-招标公告
const DocExtractPublicKey = ""
const DocExtractSecretKey = ""

// 信息抽取
const DocContentExtractPublicKey = ""
const DocContentExtractSecretKey = ""

// 文本分类（智能版）
const DocContentClassifyPublicKey = ""
const DocContentClassifySecretKey = ""

// 文本匹配
const TextMatchPublicKey = ""
const TextMatchSecretKey = ""

//============
// OCR接口
//============

// 验证码识别
const VerificationPublicKey = ""
const VerificationSecretKey = ""

// 通用卡证识别（身份证）
const LicensePublicKey = ""
const LicenseSecretKey = ""

// 印章识别
const StampPublicKey = ""
const StampSecretKey = ""

// 通用多票据识别
const BillsPublicKey = ""
const BillsSecretKey = ""

// 通用表格识别
const TablePublicKey = ""
const TableSecretKey = ""

// 模板识别
const TemplatePublicKey = ""
const TemplateSecretKey = ""

// 通用文字识别
const GeneralPublicKey = ""
const GeneralSecretKey = ""

//============
// 解决方案接口
//============
// 合同比对-提交任务
const ContractPublicKey = ""
const ContractSecretKey = ""

//============
// IDP接口
//============
// 流程管理-提交任务（招标公告全部审核）
const FlowPublicKey = ""
const FlowSecretKey = ""
